// COLORS
$color-primary: #6321B6;
$color-primary-light: #BB42D9;

$color-button-blue: rgba(11, 69, 127, 1);
$color-button-light-blue: rgba(0, 108, 216, 1);
$color-button-white: rgba(255, 255, 255, 0.15);



$color-header-text: rgba(102, 102, 102, 1);
$color-divider: rgba(206, 206, 206, 1);

$color-grey-light: rgba(251, 251, 251, 1);

$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.3rem;