.header {
    height: 10.6rem;
    background-color: $color-white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);

    @include respond(small) {
        height: 6.4rem;
    }

    &__logo-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        border-top: 1px solid $color-divider;

        @include respond(small) {
            display: none;
        }
    }

    &__info-time {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-header-text;

        p {
            width: 16.2rem;
            margin-left: .8rem;
        }

        &--icon {
            height: 1.6rem;
        }
    }

    &__button {
        margin-left: 5rem;

        @include respond(medium) {
            margin-left: 90%;
        }

        @include respond(small) {
            margin-left: 14em;
        }

        @include respond(extra-small) {
            display: none;
        }
    }
}

.user-nav__item {
    display: inline-flex;
    &:not(:first-child) {
        margin-left: 3.2rem;
    }
    
    a {
        text-decoration: none;
        color: $color-header-text;
    }

    @include respond(medium) {
        display: none;
    }
}

.info-nav__item {
    display: inline-flex;
    &:not(:first-child) {
        margin-left: 3.2rem;
    }

    a {
        text-decoration: none;
        color: $color-header-text;
        margin-left: .8rem;
    }

    &--telegram {
        height: 1.6rem;
    }
}