.boxes {
    &__box {
        &--item {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 3.2rem 5.4rem 3.2rem 3.2rem;

            background: url('../img/boxes/bg-color.jpg') center center/cover no-repeat;

            @include respond(small) {
                padding: 3.2rem 34.2rem 3.2rem 3.2rem;
            }

            @include respond(extra-small) {
                padding: 1.6rem 3.5rem 1.6rem 1.6rem;
            }
        }
    }
}

.img-box {
    position: absolute;

    &--1 {
        bottom: 1.3rem;
        left: 1.2rem;

        @include respond(medium) {
            transform: scale(.54);
            bottom: -5rem;
            left: 10rem;
        }

        @include respond(small) {
            left: 35rem;
        }

        @include respond(extra-small) {
            transform: scale(.4);
            left: 5rem;
            bottom: -6rem;
        }
    }

    &--2 {
        bottom: 0;
        right: 0;

        @include respond(extra-small) {
            transform: scale(.8);
            bottom: -1rem;
            right: -4rem;
        }
    }

    &--3 {
        bottom: 0;
        right: .9rem;

        @include respond(extra-small) {
            transform: scale(.7);
            bottom: -2.4rem;
            right: -1rem;
        }
    }

    &--4 {
        bottom: -1.3rem;
        right: -7rem;
        transform: scale(.7);

        @include respond(medium) {
            transform: scale(.42);
            bottom: -7rem;
            right: -15rem;
        }

        @include respond(extra-small) {
            transform: scale(.3);
            bottom: -8.3rem;
            right: -17rem;
        }
    }
}