body {
    font-family: "Inter", sans-serif;
}

.header__user-nav {
    font-size: $default-font-size;
}

.header__info-nav {
    font-size: $default-font-size;
}

.header__info-time {
    font-size: $default-font-size;
}

.heading-secondary {
    font-size: 2.4rem;
    font-weight: 500;
}